.cart {
    height: 300px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cartSwap {
    display: flex;
}

button {
    cursor: pointer;
    border: none;
    background-color: unset;
}